.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popupContent {
    font-family: Arial, sans-serif;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 300px;
  }
  
  h1 {
    font-size: 15px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .logoutBtn {
    display: block;
    width: 300px;
    height: 44px;
    background-color: #17a2b8;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .cancelBtn {
    display: block;
    width: 300px;
    height: 44px;
    background: none;
    color: red;
    border: 1px solid red;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
  }
  